##############################
# APP environment setting    #
##############################
APP_TITLE=storage interface implement
APP_DESCRIPTION=Implement a simple RAID 5 storage web interface
APP_VERSION=0.1.0
APP_OPENAPI_URL=/openapi.json
APP_PREFIX=/api